<div>
  <h2 id="page-heading" data-cy="InsegnanteCorsoHeading">
    <span>Insegnante Corsos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-insegnante-corso"
        [routerLink]="['/insegnante-corso/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Insegnante Corso</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (insegnanteCorsos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Insegnante Corsos found</span>
    </div>
  }

  @if (insegnanteCorsos && insegnanteCorsos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mese">
              <div class="d-flex">
                <span>Mese</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="insegnante.nome">
              <div class="d-flex">
                <span>Insegnante</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="corso.nome">
              <div class="d-flex">
                <span>Corso</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (insegnanteCorso of insegnanteCorsos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/insegnante-corso', insegnanteCorso.id, 'view']">{{ insegnanteCorso.id }}</a>
              </td>
              <td>{{ insegnanteCorso.mese }}</td>
              <td>
                @if (insegnanteCorso.insegnante) {
                  <div>
                    <a [routerLink]="['/insegnante', insegnanteCorso.insegnante.id, 'view']">{{ insegnanteCorso.insegnante.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (insegnanteCorso.corso) {
                  <div>
                    <a [routerLink]="['/corso', insegnanteCorso.corso.id, 'view']">{{ insegnanteCorso.corso.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/insegnante-corso', insegnanteCorso.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/insegnante-corso', insegnanteCorso.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(insegnanteCorso)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
