<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-insegnante-corso-heading" data-cy="InsegnanteCorsoCreateUpdateHeading">Create or edit a Insegnante Corso</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_mese">Mese</label>
          <input type="number" class="form-control" name="mese" id="field_mese" data-cy="mese" formControlName="mese" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_insegnante">Insegnante</label>
          <select
            class="form-control"
            id="field_insegnante"
            data-cy="insegnante"
            name="insegnante"
            formControlName="insegnante"
            [compareWith]="compareInsegnante"
          >
            <option [ngValue]="null"></option>
            @for (insegnanteOption of insegnantesSharedCollection; track $index) {
              <option [ngValue]="insegnanteOption">{{ insegnanteOption.nome }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_corso">Corso</label>
          <select class="form-control" id="field_corso" data-cy="corso" name="corso" formControlName="corso" [compareWith]="compareCorso">
            <option [ngValue]="null"></option>
            @for (corsoOption of corsosSharedCollection; track $index) {
              <option [ngValue]="corsoOption">{{ corsoOption.nome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
